body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.app-header {
    width: 100%;
    font-size: 0.9em;
    margin: 5em 15em;
}

.app-headings {
    font-size: 2em;
    margin-bottom: 0px;
    margin-left: 7.5em;
}

h1, h3 {
    font-size: em;
    margin: 0;
}

h3 {
    font-size: 0.7em;
}

.app-container {
    padding: 1em 3.5em 2.5em 9em;
}

.gris {
    background-color: rgba(218, 223, 226, 0.596);
    margin: 1.5em 30em 0 13em;
    color: rgb(0, 0, 0);
    padding: 20px 0 100px;
}

.form {
    margin: 0 10em;
    padding: 0 5px;
}

.msg {
    display: block;
    border: 1px solid black;
    margin: 2px;
}

.nombre {
    border: 1px solid black;
    margin: 2px;
}