body{
	width: 100%;
	position: fixed;
	height: ;
	margin: auto;

}
.app-header{
	background-color: #3cb;
	color: white;
	font-size: 3em;
	text-align: center;
}
.app-footer{
	margin-top: 10vh;
	text-align: center;
}
